/*General Layout*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.left{
    float: left;
    text-align: center;
}

.right{
    float: right;
    text-align: center;
}
.middle{
    float: left;
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}

.col-2-layout::after,
.col-3-layout::after {
    content: "";
    clear: both;
    display: block;
}

.col-3-layout .column{
    width: 33.33%;
}

.col-2-layout .column {
    width: 50%;
}

.brand-color {
    color: #29C5AD;
    font-weight: 600;
}

/*Site Header*/

.site-header{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 18px 0;

}

.header-nav li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    margin: 0 30px;
}

.header-nav li {
    display: inline;

}



/*Main Section*/

.main-section {

    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(76%, rgba(230,224,245,1)), color-stop(84%, rgba(218,213,241,1)), color-stop(92%, rgba(207,205,239,1)), color-stop(100%, rgba(207,205,239,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcdef', GradientType=0 );

}

.nav-sign-left,
.nav-sign-right {
    position: absolute;
    font-size: 80px;
}

.nav-sign-left a,
.nav-sign-right a{
    color: #27C7AB;
    text-decoration: none;
}


/*Side Section*/

/*Price Section*/




















/*Footer*/

.site-footer{
    color: #7f7f7f;
    margin: auto;
}
.copyright{
    display: inline-block;
    padding-top: 12px;
}
.footer-logo{
    font-size: 20px;
    display: inline-block;
    margin-left: 4em;
    padding-top: 9px;
}