/*General Layout*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
}


/*Site Header*/

.site-header{
    background-color: #000;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.li a {
    
}


.header-nav li {
    display: inline;
}






















/*Footer*/

