footer {
  margin-top: 25px;
  line-height: 35px;
  .container {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
}

.copyright {
  color: grey;
}

.footer-logo {
  font-size: 14px;
  margin-left: 65px;
  color: grey;
  span {
    font-weight: 600;
  }
}

