header {
  background-color: black;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.header-logo {
  font-size: 14px;
  margin-left: 65px;
  span {
    color: #27C7AB;
    font-weight: 600;
  }
}

.header-menu {
  margin-right: 70px;
  font-weight: 700;
  li {
    display: inline;
    padding-left: 50px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}


