header {
  background-color: black;
  color: white;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 13px;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.header-logo {
  font-size: 14px;
  margin-left: 65px;
  span {
    color: #27C7AB;
    font-weight: 600;
  }
}

.header-menu {
  margin-right: 70px;
  font-weight: 700;
  position: relative;
  li {
    display: inline;
    padding: 30px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}

.header-submenu {
  display: none;
  position: absolute;
  background-color: black;
  text-align: center;
  width: 110px;
  top: 35px;
  &:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 45px;
  }
  li {
    padding: 5px 0;
    display: block;
  }
}

.about {
  left: 10px;
}

.gallery {
  left: 130px;
}

.contact {
  left: 255px;
}

