

.slider-section {
  height: 520px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(76%, rgba(230,224,245,1)), color-stop(84%, rgba(218,213,241,1)), color-stop(92%, rgba(207,205,239,1)), color-stop(100%, rgba(207,205,239,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(230,224,245,1) 76%, rgba(218,213,241,1) 84%, rgba(207,205,239,1) 92%, rgba(207,205,239,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cfcdef', GradientType=0 );
  //* {
  //  border: 1px solid green;
  //}
}

.slider {
  list-style: none;
  li {
    display: none;
  }
}

.slider .visible{
  display: block;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}


.black-chair {
  img {
    width: 135%;
    position: relative;
    left: -35px;
    top: 55px;
  }
}

.slide-img{
  height: 495px;
  width: 1005px;
}

.slider-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: -50px;
  margin-right: 50px;
  h1 {
    font-weight: 500;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
    span {
      color: #27C7AB;
      font-weight: 700;
    }
  }
  p {
    text-align: center;
    font-size: 15px;
    line-height: 1.6;
    width: 75%;
    margin-left: 70px;
    margin-top:15px;
    margin-bottom: 15px;
  }
  button {
    align-self: center;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
    margin-right: 20px;
    background-color: #27C7AB;
    a {
      color: white;
    }
  }
}

.nav-sign-right ,
.nav-sign-left {
  top: 250px;
  font-size: 70px;
  color: #27C7AB;
  position: absolute;
  z-index: 1;
}

.nav-sign-right {
  right: 10%;
}

.nav-sign-left {
  left: 10%;
}

